body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    /* 背景图片渐变 */
    background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)) 0% 0% / cover, url("/src/assets/images/mask.png"), url("/src/assets/images/background.jpg") 0px 0px;
    background-attachment: fixed;
    opacity: 1;
    visibility: visible;
    color: #fff;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
